* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.theme_color_project {
  &-default {
    --bg-default: #FFFFFF;
    --bg-accent: #ffcc00;
    --border: #000000;

    --primary-text: #000000;
    --secondary-text: rgba(0, 0, 0, 0.6);
    --additional-text: rgba(0, 0, 0, 0.3);
    --link-text:  #0077ff;
  }

  &-brand {
    --bg-default: #0077ff;
    --bg-accent: #FFFFFF;
    --border: #FFFFFF;

    --primary-text: #FFFFFF;
    --secondary-text: rgba(255, 255, 255, 0.6);
    --additional-text: rgba(255, 255, 255, 0.3);
    --link-text:  #FFFFFF;
  }

  &-inverse {
    --bg-default: #000000;
    --bg-accent: #FFFFFF;
    --border: #FFFFFF;

    --primary-text: #FFFFFF;
    --secondary-text: rgba(255, 255, 255, 0.6);
    --additional-text: rgba(255, 255, 255, 0.3);
    --link-text:  #0077ff;
  }

  &-warning {
    --bg-default: #ff3333;
    --bg-accent: #FFFFFF;
    --border: #ff3333;

    --primary-text: #FFFFFF;
    --secondary-text: rgba(255, 255, 255, 0.6);
    --additional-text: rgba(255, 255, 255, 0.3);
    --link-text:  #FFFFFF;
  }
}

.theme_size_default {
  --font-size-s: 8px;
  --font-size-m: 10px;
  --font-size-l: 11px;
  --font-size-xl: 13px;
  --font-size-xxl: 16px;

  --line-height-s: 21px;
  --line-height-m: 25px;
  --line-height-l: 28px;
  --line-height-xl: 34px;
  --line-height-xxl: 38px;
}

.theme_space_default {
  --xxxs: 3px;
  --xxs: 6px;
  --xs: 9px;
  --s: 15px;
  --m: 18px;
  --l: 24px;
  --xl: 27px;
  --xxl: 36px;
  --xxxl: 45px;
  --xxxxl: 51px;
  --xxxxxl: 72px;
}

.theme_gap_small {
  --gap: var(--s);
}

@media (min-width: $desktop-width) {
  .theme_gap_small {
    --gap: var(--xl);
  }
}
