* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.theme_color_project {
  &-default {
    --bg-default-color: #FFFFFF;
    --bg-accent-color: #ffcc00;
    --border-color: #000000;

    --primary-text-color: #000000;
    --secondary-text-color: rgba(0, 0, 0, 0.6);
    --additional-text-color: rgba(0, 0, 0, 0.3);
    --link-text-color:  #0077ff;
  }

  &-brand {
    --bg-default-color: #0077ff;
    --bg-accent-color: #FFFFFF;
    --border-color: #FFFFFF;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color:  #FFFFFF;
  }

  &-inverse {
    --bg-default-color: #000000;
    --bg-accent-color: #FFFFFF;
    --border-color: #FFFFFF;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color:  #0077ff;
  }

  &-warning {
    --bg-default-color: #ff3333;
    --bg-accent-color: #FFFFFF;
    --border-color: #ff3333;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --additional-text-color: rgba(255, 255, 255, 0.3);
    --link-text-color:  #FFFFFF;
  }
}

.theme_size_default {
  --font-size-s: 8px;
  --font-size-m: 10px;
  --font-size-l: 11px;
  --font-size-xl: 13px;
  --font-size-xxl: 16px;

  --line-height-s: 21px;
  --line-height-m: 25px;
  --line-height-l: 28px;
  --line-height-xl: 34px;
  --line-height-xxl: 38px;
}

.theme_space_default {
  --space-xxxs: 3px;
  --space-xxs: 6px;
  --space-xs: 9px;
  --space-s: 15px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 27px;
  --space-xxl: 36px;
  --space-xxxl: 45px;
  --space-xxxxl: 51px;
  --space-xxxxxl: 72px;
}

.theme_gap_small {
  --gap: var(--space-s);
}

@media (min-width: $desktop-width) {
  .theme_gap_small {
    --gap: var(--space-xl);
  }
}