.footer {
  padding: var(--space-xxxl) var(--gap);
  background-color: var(--bg-default-color);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
