.header {
  padding: var(--space-xxxl) var(--gap);
  background-color: var(--bg-default-color);
}

.header__logo {
  width: 179px;
  height: 34px;
  background-color: var(--primary-text-color);
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
