.history {
  border: 3px solid var(--border-color);
}

.history__show {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
}

.history__details {
  display: flex;
  align-items: center;
}
