.onoffswitch {
  width: 97px;
  height: 32px;
  padding: 2px;
  border: 2px solid var(--border-color);
}

.onoffswitch__button {
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
}

.onoffswitch_checked .onoffswitch__button {
  float: right;
}
